version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: erp_adi_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: anandakeren
      POSTGRES_DB: erp_adi
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
